html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.horizontal-divider {
  border-bottom: 1px solid #9B9B9B; }

body {
  height: 100%;
  background-image: linear-gradient(-180deg, rgba(244, 245, 245, 0) 0%, #FFFFFF 50%, #00AEEF 99%); }

.landing-content {
  background: url("../images/landing-image.jpg") center;
  width: 100%;
  background-size: cover;
  height: 400px; }
  .landing-content a {
    text-transform: uppercase;
    border-bottom: 2px solid #303141;
    font-weight: bold;
    margin-left: 30px;
    margin-left: 2.14286rem; }
  .landing-content a:hover {
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid #00AEEF; }
  .landing-content .button {
    margin-left: -40px;
    margin-left: -2.85714rem; }
  @media screen and (min-width: 45em) {
    .landing-content {
      height: 500px; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .landing-content {
      height: 745px; } }

.cta {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 135px;
  padding-top: 9.64286rem;
  text-align: center; }
  .cta h1 {
    margin: 0 50px 30px 50px; }
  @media screen and (min-width: 45em) {
    .cta {
      padding-top: 200px;
      padding-top: 14.28571rem;
      max-width: 800px; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .cta {
      padding-top: 250px;
      padding-top: 17.85714rem;
      max-width: 1000px; }
      .cta h1 {
        margin: 0 0 20px 0; } }

.secondary-block {
  max-width: 425px;
  text-align: center;
  display: inline-block;
  margin: 50px;
  margin: 3.57143rem; }

.secondary-ctas {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-top: 3.57143rem; }

.divider {
  display: none; }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .divider {
      display: block;
      background: none repeat scroll 0 0 #EEEEEE;
      height: 300px;
      width: 1px;
      border: none;
      float: right;
      margin: -215px -60px 0 0; } }

.text-card {
  padding: 50px 30px;
  padding: 3.57143rem 2.14286rem;
  background-color: #FFFFFF;
  text-align: center;
  margin: 50px auto;
  margin: 3.57143rem auto;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%; }
  @media screen and (min-width: 45em) {
    .text-card {
      padding: 50px 100px;
      padding: 3.57143rem 7.14286rem;
      max-width: 700px; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .text-card {
      padding: 50px 100px;
      padding: 3.57143rem 7.14286rem;
      max-width: 900px; } }

.rocket-image {
  display: none; }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .rocket-image {
      display: inline-block;
      position: absolute;
      margin-top: -50px;
      margin-top: -3.57143rem; } }

.main-text {
  margin: 20px;
  margin: 1.42857rem;
  padding-top: 150px;
  padding-top: 10.71429rem; }
  @media screen and (min-width: 45em) {
    .main-text {
      padding: 200px 0 50px 0;
      padding: 14.28571rem 0 3.57143rem 0;
      max-width: 650px;
      margin: 0 auto; } }
  .main-text img, .main-text h2 {
    display: inline-block; }
  .main-text h2 {
    margin-left: 10px;
    margin-left: 0.71429rem; }
  .main-text img {
    margin-bottom: -3px;
    margin-bottom: -0.21429rem; }
  .main-text .back-arrow {
    margin-bottom: 0; }

.video-card {
  padding: 20px;
  padding: 1.42857rem;
  background-color: #FFFFFF;
  margin: 20px;
  margin: 1.42857rem;
  min-height: 173px;
  height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }
  @media screen and (min-width: 45em) {
    .video-card {
      margin: 20px auto;
      margin: 1.42857rem auto; } }
  @media screen and (min-width: 45em) {
    .video-card {
      max-width: 800px; } }

.video-thumbnail {
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 45em) {
    .video-thumbnail {
      float: left;
      width: 223px; } }

.video-card-copy {
  display: block;
  margin-top: 20px;
  margin-top: 1.42857rem; }
  @media screen and (min-width: 45em) {
    .video-card-copy {
      padding-left: 220px;
      padding-left: 15.71429rem;
      margin-top: 5px;
      margin-top: 0.35714rem; } }
  .video-card-copy p {
    margin-bottom: 0; }

.forward-list {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  height: 1px; }
  .forward-list h2 {
    color: white;
    margin: 0 20px;
    margin: 0 1.42857rem;
    vertical-align: middle; }
  .forward-list li {
    display: inline-block; }
  .forward-list img {
    vertical-align: middle;
    margin-top: -3px;
    margin-top: -0.21429rem; }

.back {
  float: left;
  display: none; }
  @media screen and (min-width: 45em) {
    .back {
      display: block; } }

@media screen and (min-width: 45em) {
  .forward {
    float: right; } }

.dual-list {
  margin-bottom: 100px;
  margin-bottom: 7.14286rem;
  max-width: 750px;
  padding: 0 30px;
  padding: 0 2.14286rem; }
  @media screen and (min-width: 45em) {
    .dual-list {
      display: block; } }

iframe {
  margin: 0 auto;
  width: 350px;
  height: 200px;
  display: block; }
  @media screen and (min-width: 45em) {
    iframe {
      width: 560px;
      height: 315px; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    iframe {
      height: 480px;
      width: 854px; } }

.single-video-text {
  padding: 120px 20px 0 20px;
  padding: 8.57143rem 1.42857rem 0 1.42857rem;
  margin: 0 auto;
  width: 400px; }
  @media screen and (min-width: 45em) {
    .single-video-text {
      padding: 200px 0 50px 0;
      padding: 14.28571rem 0 3.57143rem 0;
      width: 560px;
      margin: 0 auto; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .single-video-text {
      width: 854px; } }

.text-input, .textarea-input {
  max-width: 360px;
  width: 100%;
  border: 1px solid #EEEEEE;
  padding-left: 10px;
  padding-left: 0.71429rem;
  font-size: 14px;
  color: #9B9B9B;
  margin-bottom: 10px;
  margin-bottom: 0.71429rem; }

.text-input {
  height: 50px; }

.textarea-input {
  height: 115px; }

.text-card-lpl {
  max-width: 350px;
  margin: 10px auto;
  margin: 0.71429rem auto; }
  @media screen and (min-width: 45em) {
    .text-card-lpl {
      max-width: 560px; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .text-card-lpl {
      float: right; } }

.build-my-app-content {
  width: 100%;
  display: table;
  margin: 0 auto;
  max-width: 1000px; }

.form-content {
  margin: 0 auto;
  width: 360px;
  margin-bottom: 50px;
  margin-bottom: 3.57143rem; }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .form-content {
      float: left;
      margin-bottom: 10px;
      margin-bottom: 0.71429rem; } }

h1, h2, h3, h4, h5, a {
  font-family: 'Proxima Nova', sans-serif;
  color: #303141;
  text-decoration: none; }

p {
  font-family: 'Museo Slab', sans-serif;
  color: #303141;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 35px;
  margin-bottom: 2.5rem;
  line-height: 23px; }
  @media screen and (min-width: 45em) {
    p {
      font-size: 24px;
      line-height: 30px; } }

h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
  margin-bottom: 2.14286rem; }
  @media screen and (min-width: 45em) {
    h1 {
      font-size: 36px;
      line-height: 50px; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    h1 {
      font-size: 60px;
      line-height: 75px; } }

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-bottom: 1.42857rem; }

h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold; }

h4 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-bottom: 1.42857rem; }

h5 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: -10px;
  margin-bottom: -0.71429rem; }

a:hover {
  cursor: pointer;
  color: #00AEEF;
  transition: all 0.3s ease 0s; }

footer {
  border-top: 1px solid #ffffff;
  margin: 100px 20px 35px 20px;
  margin: 7.14286rem 1.42857rem 2.5rem 1.42857rem;
  padding: 20px;
  padding: 1.42857rem; }
  @media screen and (min-width: 45em) {
    footer {
      margin: 100px 50px 35px 50px;
      margin: 7.14286rem 3.57143rem 2.5rem 3.57143rem; } }

.logo-left {
  float: left;
  height: 30px; }
  @media screen and (min-width: 45em) {
    .logo-left {
      height: 40px; } }

.logo-right {
  float: right;
  height: 25px; }
  @media screen and (min-width: 45em) {
    .logo-right {
      height: 35px; } }

nav {
  margin: 15px;
  margin: 1.07143rem;
  padding: 30px;
  padding: 2.14286rem;
  background-color: #FFFFFF;
  height: 84px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  left: 0; }
  nav h3 {
    float: left; }
  nav ul {
    float: right; }
  nav li {
    display: none; }
  @media screen and (min-width: 45em) {
    nav {
      margin: 50px;
      margin: 3.57143rem;
      padding: 30px;
      padding: 2.14286rem; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    nav li {
      display: inline-block;
      margin-left: 30px; } }

.build-my-app {
  background-color: #00AEEF;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 30px 29px 29px 29px;
  padding: 2.14286rem 2.07143rem 2.07143rem 2.07143rem;
  margin-right: -30px;
  margin-right: -2.14286rem;
  letter-spacing: 1.5px;
  transition: all 0.3s ease 0s;
  white-space: nowrap; }

.build-my-app:hover {
  background-color: #303141;
  color: #FFFFFF; }

.button {
  width: 170px;
  height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #00AEEF;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none; }

.button:hover {
  background-color: #303141;
  box-shadow: 0px 15px 20px rgba(48, 49, 65, 0.2);
  color: #fff;
  transform: translateY(-3px); }

.button-dark {
  background-color: #303141; }

.button-dark:hover {
  background-color: #00AEEF;
  box-shadow: 0px 15px 20px rgba(0, 174, 239, 0.2); }

.dl-menuwrapper {
  width: 100%;
  max-width: 300px;
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
  float: right;
  margin: 32px 33px 0 0;
  margin: 2.28571rem 2.35714rem 0 0; }
  @media screen and (min-width: 45em) {
    .dl-menuwrapper {
      margin: 66px 70px 0 0;
      margin: 4.71429rem 5rem 0 0; } }
  @media screen and (min-width: 64em) and (orientation: landscape) {
    .dl-menuwrapper {
      display: none; } }

.dl-menuwrapper:first-child {
  margin-right: 100px; }

.dl-menuwrapper button {
  background: #00AEEF;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  float: right; }

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: #303141; }

.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 5px;
  background: #fff;
  top: 10px;
  left: 16%;
  box-shadow: 0 10px 0 #fff, 0 20px 0 #fff; }

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-top: 200px;
  margin-top: 14.28571rem; }

.dl-menuwrapper li {
  position: relative; }

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 20px;
  line-height: 20px;
  color: #fff;
  outline: none;
  text-align: right;
  text-decoration: none; }

.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1); }

.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.1); }

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  display: none; }

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15); }

.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease; }

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  margin-top: 70px;
  margin-top: 5rem; }

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none; }

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s; }

@-webkit-keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg); }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }
@keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg); }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s; }

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }
@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }
.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease; }

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }
@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease; }

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0; } }
@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0; } }
/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.no-js .dl-menuwrapper li .dl-submenu {
  display: block; }

.no-js .dl-menuwrapper li.dl-back {
  display: none; }

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1); }

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: ''; }

/* Colors for demos */
/* Demo 1 */
.demo-1 .dl-menuwrapper button {
  background: #c62860; }

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
  background: #9e1847; }
