body {
    height: 100%;
    background-image: linear-gradient(-180deg, rgba(244,245,245,0.00) 0%, $white-base 50%, $blue-base 99%);
}

.landing-content {
  background: url("../images/landing-image.jpg") center;
  width: 100%;
  background-size: cover;
  height: 400px;

  a {
    text-transform: uppercase;
    border-bottom: 2px solid $black-base;
    font-weight: bold;
    @include rem(margin-left, 30px);
  }

  a:hover {
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid $blue-base;

  }

  .button {
    @include rem(margin-left, -40px);
  }

  @include media($tablet) {
    height: 500px;
  }

  @include media($tablet-landscape) {
    height: 745px;
  }
}

.cta {
  max-width: 500px;
  margin: 0 auto;
  @include rem(padding-top, 135px);
  text-align: center;

  h1 {
    margin: 0 50px 30px 50px;
  }

  @include media($tablet) {
    @include rem(padding-top, 200px);
    max-width: 800px;
  }

  @include media($tablet-landscape) {
    @include rem(padding-top, 250px);
    max-width: 1000px;

    h1 {
    margin: 0 0 20px 0;
  }
  }

}

.secondary-block {
  max-width: 425px;
  text-align: center;
  display: inline-block;
  @include rem(margin, 50px);
}

.secondary-ctas {
  margin: 0 auto;
  text-align: center;
  @include rem(margin-top, 50px);
}

.divider {
  display: none;

  @include media($tablet-landscape) {
    display: block;
    background: none repeat scroll 0 0 $grey-lighter;
    height: 300px;
    width: 1px;
    border: none;
    float: right;
    margin: -215px -60px 0 0;
  }
}


.text-card {
  @include rem(padding, 50px 30px);
  background-color: $white-base;
  text-align: center;
  @include rem(margin, 50px auto);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;

  @include media($tablet) {
    @include rem(padding, 50px 100px);
    max-width: 700px;
  }

  @include media($tablet-landscape) {
    @include rem(padding, 50px 100px);
    max-width: 900px;
  }
}

.rocket-image {
  display: none;


  @include media($tablet-landscape) {
    display: inline-block;
    position: absolute;
    @include rem(margin-top, -50px);
  }
}

.main-text {
  @include rem(margin, 20px);
  @include rem(padding-top, 150px);


  @include media($tablet) {
    @include rem(padding, 200px 0 50px 0);
    max-width: 650px;
    @include rem(margin, 0 auto);

  }

  img, h2 {
    display: inline-block;
  }

  h2 {
    @include rem(margin-left, 10px);
  }

  img {
    @include rem(margin-bottom, -3px);
  }

  .back-arrow {
    @include rem(margin-bottom, 0);
  }
}

.video-card {
  @include rem(padding, 20px);
  background-color: $white-base;
  @include rem(margin, 20px);
  min-height: 173px;
  height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);


  @include media($tablet) {
    @include rem(margin, 20px auto);
  }

  @include media($tablet) {
    max-width: 800px;
  }
}

.video-thumbnail {
  @include rem(margin, 0 auto);
  width: 100%;

  @include media($tablet) {
    float: left;
    width: 223px
  }
}

.video-card-copy {
  display: block;
  @include rem(margin-top, 20px);

  @include media($tablet) {
    @include rem(padding-left, 220px);
    @include rem(margin-top, 5px);
  }

  p {
    @include rem(margin-bottom, 0);
  }
}

.forward-list {
  text-align: center;
  @include rem(margin, 0 auto);
  margin-top: 100px;
  height: 1px;

  h2 {
    color: white;
    @include rem(margin, 0 20px);
    vertical-align: middle;

  }

  li {
    display: inline-block;
  }

  img {
    vertical-align: middle;
    @include rem(margin-top, -3px);
  }

}

.back {
  float: left;
  display: none;

  @include media($tablet) {
      display: block;
    }
}

.forward {

  @include media($tablet) {
      float: right;
    }
}

.dual-list {
  @include rem(margin-bottom, 100px);
  max-width: 750px;
  @include rem(padding, 0 30px);



    @include media($tablet) {
      display: block
    }

}

iframe {
  @include rem(margin, 0 auto);
  width: 350px;
  height: 200px;
  display: block;

  @include media($tablet) {
    width: 560px;
    height: 315px;
  }

    @include media($tablet-landscape) {
      height: 480px;
      width: 854px;
    }
}


.single-video-text {
  @include rem(padding, 120px 20px 0 20px);
  @include rem(margin, 0 auto);
  width: 400px;

  @include media($tablet) {
    @include rem(padding, 200px 0 50px 0);
    width: 560px;
    @include rem(margin, 0 auto);

  }

  @include media($tablet-landscape) {
    width: 854px;

  }
}

.text-input,.textarea-input {
  max-width: 360px;
  width: 100%;
  border: 1px solid $grey-lighter;
  @include rem(padding-left, 10px);
  font-size: $s-base;
  color: $grey-base;
  @include rem(margin-bottom, 10px);
}

.text-input {
  height: 50px;
}

.textarea-input {
  height: 115px;
}

.text-card-lpl {
  max-width: 350px;
  @include rem(margin, 10px auto);

  @include media($tablet) {
    max-width: 560px;

  }

  @include media($tablet-landscape) {
    float: right;

  }
}

.build-my-app-content {
  width: 100%;
  display: table;
  @include rem(margin, 0 auto);
  max-width: 1000px;
}

.form-content {
  @include rem(margin, 0 auto);
  width: 360px;
  @include rem(margin-bottom, 50px);

  @include media($tablet-landscape) {
    float: left;
    @include rem(margin-bottom, 10px);
  }
}

