//MAIN COLORS

  //BLACK
    $black-base:   #303141;


  //BLUE
    $blue-base:    #00AEEF;


  //GREY
    $grey-lighter: #EEEEEE;
    $grey-light:   #C3C2C2;
    $grey-base:    #9B9B9B;
    $grey-dark:    #222222;




  //WHITE
    $white-light:  #FAFAFA;
    $white-base:   #FFFFFF;
    $white-med:    #DEDEDE;
    $white-dark:   #F7F7F7;

  //MAIN PALETTE LIST
  $colors: (
    black-base    $black-base,
    blue-base     $blue-base,
    grey-light    $grey-light,
    grey-base     $grey-base,
    grey-dark     $grey-dark,
    white-light   $white-light,
    white-base    $white-base,
    white-dark    $white-dark,

  );
