  <div class="main-text">
    <h4>Dev Ops</h4>
    <p>Developers who really understand and can develop the infrastructure of web apps  are expensive and in high demand, we call them Dev Ops developers and they are necessary to get a web app up and running if you don’t have Heroku. Here we talk about what they do.</p>
    <a href='/what-is-heroku.html'>
      <img class="back-arrow" src="images/back-arrow.svg">
      <h2>Back</h2>
    </a>
  </div>

<iframe src="https://www.youtube.com/embed/2Vmee5CxYVw?list=PLfkt3QbPCnaafJKYdh6hC2JmQ8ytu_3Fl" frameborder="0" allowfullscreen></iframe>

<ul class="forward-list dual-list">
  <a href='/infrastructure.html'>
    <div class="back">
      <li><img src="images/arrow-back.svg"></li>
      <li><h2>Server Infrastructure</h2></li>
    </div>
  </a>
  <a href='/where-does-heroku-come-in.html'>
    <div class="forward">
      <li><h2>Where Dev Ops Breaks Down</h2></li>
      <li><img src="images/arrow-forward.svg"></li>
    </div>
  </a>
  </ul>
