  <div class="main-text">
    <h4>Dev Ops</h4>
    <p>What does a dev ops developer do? Why are they so important?</p>
    <a href='/what-is-heroku.html'>
      <img class="back-arrow" src="images/back-arrow.svg">
      <h2>Back</h2>
    </a>
  </div>

<iframe src="https://www.youtube.com/embed/2Vmee5CxYVw?list=PLfkt3QbPCnaafJKYdh6hC2JmQ8ytu_3Fl" frameborder="0" allowfullscreen></iframe>

<ul class="forward-list dual-list">
  <a href='/infrastructure.html'>
    <div class="back">
      <li><img src="images/arrow-back.svg"></li>
      <li><h2>Infrastructure</h2></li>
    </div>
  </a>
  <a href='/where-does-heroku-come-in.html'>
    <div class="forward">
      <li><h2>What about Heroku?</h2></li>
      <li><img src="images/arrow-forward.svg"></li>
    </div>
  </a>
  </ul>
