---
title: How To Heroku
---
<div class="landing-content">
  <div class="cta">
    <h1>Learn About Heroku and Decide if it’s Right for You</h1>
    <a href='/what-is-heroku.html'><button class="button">Tell Me More</button></a>
    <a href='/build-my-app.html'>Build My App</a>
  </div>
</div>

<!-- 2 button blocks -->
<div class="secondary-ctas">
  <div class="secondary-block">
    <h2>Understand Heroku</h2>
    <p>Learn the basics of application infrastructure and find out where Heroku fits in.</p>
    <a href='/what-is-heroku.html'><button class="button button-dark">Learn More</button></a>
    <hr class="divider">
  </div>

  <div class="secondary-block">
    <h2>Is Heroku For Me?</h2>
    <p>Wondering if Heroku is the right option for your business? We're here to help you answer that question.</p>
    <a href='/is-heroku-for-me.html'><button class="button button-dark">Find Your Fit</button></a>
  </div>
</div>

<!-- Help I need an App -->
<div class="text-card">
  <span class="rocket-image rocket-image-lpl"><img src="images/rocket.svg" alt="LaunchPad Lab"></span>
  <h2>Help, I Need an App</h2>
  <p>LaunchPad Lab designs and develops the best web and mobile applications on Heroku. Our inventive approach to problem solving, technical expertise, and business knowledge has helped numerous clients grow their business. Ready to work with us?</p>
  <a href='/build-my-app.html'><button class="button">Reach Out</button></a>
</div>
