---
title: How To Heroku
---
<div class="landing-content">
  <div class="cta">
    <h1>Build CustoM Web and Mobile Applications on Heroku</h1>
    <button class="button">Tell Me More</button>
    <a>Build My App</a>
  </div>
</div>

<!-- 2 button blocks -->
<div class="secondary-ctas">
  <div class="secondary-block">
    <h2>Understrand Heroku</h2>
    <p>Let Heroku handle the infrastructure so you can focus on what really matter: building your business.</p>
    <button class="button button-dark">Learn More</button>
    <hr class="divider">
  </div>

  <div class="secondary-block">
    <h2>Is Heroku For Me?</h2>
    <p>Wondering if Heroku is the right option? We're here to help make the best decision for your business.</p>
    <button class="button button-dark">Find Your Fit</button>
  </div>
</div>

<!-- Help I need an App -->
<div class="text-card">
  <span class="rocket-image"><img src="images/rocket.svg" alt="LaunchPad Lab"></span>
  <h2>Help, I Need an App</h2>
  <p>Launchpad Lab has build a business on Heroku by designing and developing outstanding web and mobile apps. Our inventive approach to problem solving, technical expertise and business knowledge has helped numerous clients build their business.</p>
  <button class="button">Lift Off</button>
</div>
