---
title: Is Heroku For Me?
---
  <div class="main-text">
    <h4>Is Heroku Right For Me?</h4>
    <p>Deciding on your hosting platform is an important decision. Below are a few main things to consider.<br>
    <br>
    By the end, you will know a bit more about Heroku, and if it's the right option for your business.</p>
    <a href='/intro.html'>
      <img src="images/play-arrow.svg">
      <h2>Play</h2>
    </a>
  </div>

  <a href='/security-and-compliance-requirements.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="Security and Compliance Requirements">
      <div class="video-card-copy">
        <h2>Security and Compliance Requirements</h2>
        <p>Text here about why this affects your decision…</p>
      </div>
    </div>
  </a>

  <a href='/who-will-be-using-your-app.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="Who Will Be Using Your App?">
      <div class="video-card-copy">
        <h2>Who Will Be Using Your App?</h2>
        <p>Text here about why this affects your decision…</p>
      </div>
    </div>
  </a>

  <a href='/technology-stack.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="Your Technology Stack">
      <div class="video-card-copy">
        <h2>Your Technology Stack</h2>
        <p>Text here about why this affects your decision…</p>
      </div>
    </div>
  </a>

  <a href='/what-does-your-team-look-like.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="What Does Your Team Look Like?">
      <div class="video-card-copy">
        <h2>What Does Your Team Look Like?</h2>
        <p>Text here about why this affects your decision…</p>
      </div>
    </div>
  </a>

  <a href='/do-you-have-a-specific-salesforce-need.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="Do You Have A Specific Salesforce Need?">
      <div class="video-card-copy">
        <h2>Do You Have A Specific Salesforce Need?</h2>
        <p>Text here about why this affects your decision…</p>
      </div>
    </div>
  </a>

  <ul class="forward-list dual-list">
    <a href='/what-is-heroku.html'>
      <div class="back">
        <li><img src="images/arrow-back.svg"></li>
        <li><h2>What is Heroku?</h2></li>
      </div>
    </a>

    <a href='/build-my-app.html'>
      <div class="forward">
        <li><h2>Build My App</h2></li>
        <li><img src="images/arrow-forward.svg"></li>
      </div>
    </a>
  </ul>


  <!-- I'm Still Not Sure Card -->
<div class="text-card">
  <span class="rocket-image"><img src="images/rocket.svg" alt="LaunchPad Lab"></span>
  <h2>I Want To Learn More</h2>
  <p>Have questions? Want to talk through your specific situation? Reach out! We will set up a time to explain more and give you reccomendations based on your specific business needs and goals. </p>
  <a href='/build-my-app.html'><button class="button">Talk To Me</button></a>
</div>
