---
title: Is Heroku For Me?
---
  <div class="main-text">
    <h4>Is Heroku Right For Me?</h4>
    <p>Deciding on your hosting platform is an important decision. Below are a few main things to consider.<br>
    <br>
    By the end, you will know a bit more about Heroku, and if it's the right option for your business.</p>
    <a href='/programming-languages-and-heroku.html'>
      <img class="play-button" src="images/play-arrow.svg">
      <h2>Play</h2>
    </a>
  </div>

  <a href='/programming-languages-and-heroku.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/programming-languages-and-heroku-thumbnail.jpg" alt="Security and Compliance Requirements">
      <span class="video-time">2:11</span>
      <div class="video-card-copy">
        <h2>Choosing Heroku: Programming Languages</h2>
        <p>Learn what languages work best with Heroku.</p>
      </div>
    </div>
  </a>

  <a href='/integrate-with-salesforce.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/integrate-with-salesforce-thumbnail.jpg" alt="Who Will Be Using Your App?">
      <span class="video-time">1:33</span>
      <div class="video-card-copy">
        <h2>Choosing Heroku: Integrating Apps with Salesforce</h2>
        <p>How does Heroku help applications connect to Salesforce?</p>
      </div>
    </div>
  </a>

  <a href='/when-to-move-to-heroku.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/when-to-move-to-heroku-thumbnail.jpg" alt="Your Technology Stack">
      <span class="video-time">2:27</span>
      <div class="video-card-copy">
        <h2>Choosing Heroku: Should I Move to Heroku?</h2>
        <p>Learn how to determine if moving your apps to Heroku could make sense.</p>
      </div>
    </div>
  </a>

  <a href='/scalability.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/scalability-thumbnail.jpg" alt="What Does Your Team Look Like?">
      <span class="video-time">1:57</span>
      <div class="video-card-copy">
        <h2>Choosing Heroku: Scaling your Application</h2>
        <p>Learn how easy it is to instantly scale your application using Heroku.</p>
      </div>
    </div>
  </a>

  <a href='/your-team.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/your-team-thumbnail.jpg" alt="Your Team">
      <span class="video-time">1:52</span>
      <div class="video-card-copy">
        <h2>Choosing Heroku: Your Team</h2>
        <p>Learn how the makeup of your team can affect your decision to move to Heroku.</p>
      </div>
    </div>
  </a>

  <a href='/security-and-compliance.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/security-and-compliance-thumbnail.jpg" alt="Security and Compliance">
      <span class="video-time">1:57</span>
      <div class="video-card-copy">
        <h2>Choosing Heroku: Enterprise Level Security and Compliance</h2>
        <p>Here we discuss security and compliance considerations.</p>
      </div>
    </div>
  </a>

  <a href='/mobile.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/mobile-thumbnail.jpg" alt="Mobile">
      <span class="video-time">1:05</span>
      <div class="video-card-copy">
        <h2>Choosing Heroku: Mobile Apps</h2>
        <p>Learn how Heroku fits into mobile app infrastructure.</p>
      </div>
    </div>
  </a>

  <a href='/success.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/success-thumbnail.jpg" alt="Success">
      <span class="video-time">2:22</span>
      <div class="video-card-copy">
        <h2>Heroku Success Story</h2>
        <p>See a real-world example of how building on top of Heroku can help a business scale.</p>
      </div>
    </div>
  </a>

<!-- Back and Forth Arrows -->
  <ul class="forward-list dual-list">
    <a href='/what-is-heroku.html'>
      <div class="back">
        <li><img src="images/arrow-back.svg"></li>
        <li><h2>What is Heroku?</h2></li>
      </div>
    </a>

    <a href='/build-my-app.html'>
      <div class="forward">
        <li><h2>Build My App</h2></li>
        <li><img src="images/arrow-forward.svg"></li>
      </div>
    </a>
  </ul>

  <!-- I'm Still Not Sure Card -->
<div class="text-card">
  <span class="rocket-image"><img src="images/rocket.svg" alt="LaunchPad Lab"></span>
  <h2>I Want To Learn More</h2>
  <p>Have questions? Want to talk through your specific situation? Reach out! We will set up a time to explain more and give you reccomendations based on your specific business needs and goals. </p>
  <a href='/build-my-app.html'><button class="button">Talk To Me</button></a>
</div>
