  <div class="main-text">
    <h4>Heorku Success Story</h4>
    <p>See a real-world example of how building on top of Heroku can help a business scale.</p>
    <a href='/is-heroku-for-me.html'>
      <img class="back-arrow" src="images/back-arrow.svg">
      <h2>Back</h2>
    </a>
  </div>

<iframe src="https://www.youtube.com/embed/FcjS4BvqcI4?list=PLfkt3QbPCnaafJKYdh6hC2JmQ8ytu_3Fl" frameborder="0" allowfullscreen></iframe>

<ul class="forward-list dual-list">
  <a href='/mobile.html'>
      <li><img src="images/arrow-back.svg"></li>
      <li><h2>Mobile Apps</h2></li>
  </a>
</ul>
