<div class="main-text">
  <h4>Web Basics: The Browser</h4>
  <p>In order to understand Heroku, you first need to understand how the web works. We start by explaining the web browser.</p>
  <a href='/what-is-heroku.html'>
    <img class="back-arrow" src="images/back-arrow.svg">
    <h2>Back</h2>
  </a>
</div>


<iframe src="https://www.youtube.com/embed/MDGxoaU6iLs" frameborder="0" allowfullscreen></iframe>

<ul class="forward-list dual-list">
  <a href='/intro.html'>
    <div class="back">
      <li><img src="images/arrow-back.svg"></li>
      <li><h2>Intro</h2></li>
    </div>
  </a>
  <a href='/urls.html'>
    <div class="forward">
      <li><h2>Web Basics: URLs</h2></li>
      <li><img src="images/arrow-forward.svg"></li>
    </div>
  </a>
</ul>
