  <div class="main-text">
    <h4>Web Basics: URLs</h4>
    <p>URLs are the entry point into websites and applications across the internet. How do they work?</p>
    <a href='/what-is-heroku.html'>
      <img class="back-arrow" src="images/back-arrow.svg">
      <h2>Back</h2>
    </a>
  </div>


<iframe src="https://www.youtube.com/embed/jZhdwssZsnQ?list=PLfkt3QbPCnaafJKYdh6hC2JmQ8ytu_3Fl" frameborder="0" allowfullscreen></iframe>

<ul class="forward-list dual-list">
  <a href='/the-web-browser.html'>
    <div class="back">
      <li><img src="images/arrow-back.svg"></li>
      <li><h2>Web Basics: The Browser</h2></li>
    </div>
  </a>
  <a href='/what-is-a-web-app.html'>
    <div class="forward">
      <li><h2>Web App vs. Website</h2></li>
      <li><img src="images/arrow-forward.svg"></li>
    </div>
  </a>
  </ul>
