---
title: What is Heroku?
---
  <div class="main-text">
    <h4>Understanding Heroku</h4>
    <p>In order to really understand what Heroku does, we recommend learning a little about web infrastructure and how developers manage it.<br>
    <br>
    Below you will find a series of super short videos to explain how the web works. In total, they are only XX minutes long. <br>
    <br>
    By the end, you will understand web infrastructure and where Heroku fits in. <br></p>
    <a href='/intro.html'>
      <img src="images/play-arrow.svg">
      <h2>Play Intro</h2>
    </a>
  </div>

  <a href='/the-web-browser.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="The Web Browser">
      <div class="video-card-copy">
        <h2>The Web Browser</h2>
        <p>Why do we need a web browser?</p>
      </div>
    </div>
  </a>

  <a href='/urls.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="URL's">
      <div class="video-card-copy">
        <h2>URL's</h2>
        <p>What actually happens when you type a web address into the browser?</p>
      </div>
    </div>
  </a>

  <a href='/what-is-a-web-app.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="What is a web app?">
      <div class="video-card-copy">
        <h2>What is a web app?</h2>
        <p>What is the difference between a web app and a website?</p>
      </div>
    </div>
  </a>

  <a href='/infrastructure.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="Infrastructure">
      <div class="video-card-copy">
        <h2>Infrastructure</h2>
        <p>Here we discuss all the pieces that it takes to have a web application.</p>
      </div>
    </div>
  </a>

  <a href='/dev-ops.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="Dev Ops">
      <div class="video-card-copy">
        <h2>Dev Ops</h2>
        <p>What does a dev ops developer do? Why are they so important?</p>
      </div>
    </div>
  </a>

  <a href='/where-does-heroku-come-in.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/video-thumbnail.jpg" alt="Where Does Heroku Come In?">
      <div class="video-card-copy">
        <h2>Where Does Heroku Come In?</h2>
        <p>Learn how to integrate Heroku to compliment your web application.</p>
      </div>
    </div>
  </a>

  <ul class="forward-list">
    <a href='/is-heroku-for-me.html'>
      <li><h2>Is Heroku For Me?</h2></li>
      <li><img src="images/arrow-forward.svg"></li>
    </a>
  </ul>
