---
title: What is Heroku?
---
  <div class="main-text">
    <h4>Understanding Heroku</h4>
    <p>In order to really understand what Heroku does, we recommend learning a little about web infrastructure and how developers manage it.<br>
    <br>
    Below you will find a series of super short videos that explain how the web works in only 12 minutes.<br>
    <br>
    By the end, you will understand web infrastructure and where Heroku fits in. <br></p>
    <a href='/intro.html'>
      <img class="play-button" src="images/play-arrow.svg">
      <h2>Play Intro</h2>
    </a>
  </div>

  <a href='/the-web-browser.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/web-browser-thumbnail.jpg" alt="The Web Browser">
      <span class="video-time">0:43</span>
      <div class="video-card-copy">
        <h2>Web Basics: The Browser</h2>
        <p>In order to understand Heroku, you first need to understand how the web works.</p>
      </div>
    </div>
  </a>

  <a href='/urls.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/url-thumbnail.jpg" alt="URL's">
      <span class="video-time">0:52</span>
      <div class="video-card-copy">
        <h2>Web Basics: URLs</h2>
        <p>URLs are the entry point into websites and applications across the internet.</p>
      </div>
    </div>
  </a>

  <a href='/what-is-a-web-app.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/what-is-a-web-app-thumbnail.jpg" alt="What is a web app?">
      <span class="video-time">1:29</span>
      <div class="video-card-copy">
        <h2>Web Basics: Web App vs. Website</h2>
        <p>What's the difference between a web app &amp; a website? Heroku is designed for web apps.</p>
      </div>
    </div>
  </a>

  <a href='/infrastructure.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/infrastructure-thumbnail.jpg" alt="Infrastructure">
      <span class="video-time">1:14</span>
      <div class="video-card-copy">
        <h2>Server Infrastructure</h2>
        <p>Here we explain the hardware and steps needed to get a web app up and running.</p>
      </div>
    </div>
  </a>

  <a href='/dev-ops.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/dev-ops-thumbnail.jpg" alt="Dev Ops">
      <span class="video-time">1:39</span>
      <div class="video-card-copy">
        <h2>Dev Ops</h2>
        <p>Dev ops are the developers needed to get a web app working if you dont have Heroku.</p>
      </div>
    </div>
  </a>

  <a href='/where-does-heroku-come-in.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/where-does-heroku-come-in-thumbnail.jpg" alt="Where Does Heroku Come In?">
      <span class="video-time">3:25</span>
      <div class="video-card-copy">
        <h2>Where Dev Ops Breaks Down</h2>
        <p>We explain what needs to be done as a web application changes and grows over time.</p>
      </div>
    </div>
  </a>

  <a href='/a-history-lesson.html'>
    <div class="video-card">
      <img class="video-thumbnail" src="images/a-history-lesson-thumbnail.jpg" alt="Where Does Heroku Come In?">
      <span class="video-time">2:35</span>
      <div class="video-card-copy">
        <h2>Heroku, A History lesson</h2>
        <p>We look at the history of server infrastructure and why Heroku is valuable.</p>
      </div>
    </div>
  </a>

  <ul class="forward-list">
    <a href='/is-heroku-for-me.html'>
      <li><h2>Is Heroku For Me?</h2></li>
      <li><img src="images/arrow-forward.svg"></li>
    </a>
  </ul>
