  <div class="main-text">
    <h4>Where Does Heroku Come In?</h4>
    <p>Learn how to integrate Heroku to compliment your web application.</p>
    <a href='/what-is-heroku.html'>
      <img class="back-arrow" src="images/back-arrow.svg">
      <h2>Back</h2>
    </a>
  </div>

<iframe src="https://www.youtube.com/embed/3uNby26zF6o?list=PLfkt3QbPCnaafJKYdh6hC2JmQ8ytu_3Fl" frameborder="0" allowfullscreen></iframe>

<ul class="forward-list dual-list">
  <a href='/dev-ops.html'>
    <div class="back">
      <li><img src="images/arrow-back.svg"></li>
      <li><h2>Dev Ops</h2></li>
    </div>
  </a>
  <a href='/a-history-lesson.html'>
    <div class="forward">
      <li><h2>A History Lesson</h2></li>
      <li><img src="images/arrow-forward.svg"></li>
    </div>
  </a>
  </ul>
